:host {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  height: 90vh;            
  text-align: center;
  margin-top: 10px;

}
h1{
  color:#235e9c;
  font-size: 40px;
  margin-top: 20px;
  text-decoration: underline;
}
nav a {
  margin: 0 10px;
}

