.analytics-section {
  text-align: center;
  font-family: 'Times New Roman', serif;
  background-color: #fffaf5;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px 112px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: visible;
}


.chart-box {
  width: 100%;
  height: 500px;
  background: #f9f5f2;
  border-radius: 8px;
  padding: 60px 20px 20px;
  margin-top: 10px; 
  margin-bottom: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

button {
  background-color: #5d4037;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #3e2723;
}
